
@{
    ViewBag.Title = "Admin_Login";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h1>Admin Login </h1>
            <hr />

            <form action="Verification" method="post" cellspacing="10px" required>
                <div class="form-group-lg">
                    <label>Enter Name </label>
                    <input type="text" id="txt_Name" class="form-control" name="txt_Name" required />
                </div>

                <div class="form-group-lg">
                    <label>Enter Password</label>
                    <input type="password" id="txt_Password" class="form-control" name="txt_Password" required />
                </div>
                <br />
                <input type="submit" value="Login " class="btn btn-warning" />

            </form>

        </div>

    </div>

</div>


