@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Know Us</h2>
        <p>
            The early 1920s were an important time for transport in New Zealand. After WWI Australians were taking a major interest in motor vehicles following the introduction of the Model T Ford in 1908. There were almost 100,000 cars on the road – almost one car for every 55 people!
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>In Melbourne, one enterprising young man identified a growing need to make replacement parts for all those cars on the road. Geoffrey Russell opened a small factory in a tin shed in Collingwood, Victoria trading under the name Automotive Grinding Company..</p>
       
    </div>
    <div class="col-md-4">
        <h2>Know more/h2>
            <p>Around the same time in Queensland, three men decided that they could carry mail by air. Their company would become Australia’s national Airline, Qantas. Geoff, in his little factory would not have known that he was building an equally iconic Australian brand, Replacement Parts COmpany..</p>
       
    </div>
</div>